.diskWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.diskWrapper h1 {
    margin-bottom: 1rem;
    
    font-size: 1.5rem;
    font-weight: 700;
}

.diskRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.diskCell {
    width: 2rem;
    height: 2rem;

    border: 1px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
}