.wrapperHeader{
  width: 100%;
  height: 18rem;

  display: flex;
  align-items: center;
  justify-content: space-around;

  background-color: rgba(0, 0, 255, 0.514);
}
.displayMethod{
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: .5rem;
}
.displayMethod h1{
  font-size: 1.5rem;
  color: #fff;
}
.methodSelection{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.methodSelection button{
  width: 15rem;
  height: 2.5rem;
  border: none;
  border-radius: 5px;
  
  cursor: pointer;
  color: #fff;
}
.selectedButton{
  background-color: rgb(29, 29, 255);
}
.notSelectedButton{
  background-color: rgb(82, 82, 82);
}
.wrapperSettings{
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .5rem;
}
.wrapperSettings p{
  font-size: 1.25rem;
  color: #fff;
}
.wrapperDelay{
  display: flex;
  flex-direction: column;
  gap: .25rem;
}
.inputStyle{
  width: 15rem;
  height: 2.5rem;
  border: none;
  border-radius: 5px;
  background-color: rgb(29, 29, 255);
  color: #fff;
  font-size: 1.25rem;
  box-sizing: border-box;
  padding-left: .5rem;
}
.wrapperDelay button{
  width: 15rem;
  height: 2rem;
  border: none;
  border-radius: 5px;
  
  cursor: pointer;
  color: #fff;
}
.wrapperDelaySeconds{
  width: 5rem;
  display: flex;
  justify-content: center;
  gap: .5rem;
}
.wrapperHeader img{
  max-width: 12rem;
  max-height: 12rem;
}
.wrapperLogos{
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}